@import '../../styles/foundation/foundation.scss';

.menu-wrap {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: 150px 0 50px;
  width: 100%;
  position: relative;

  .menu-icon-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
  }

  .menu-item:not(:last-child) {
    .menu-contentbox-wrap {
      border-bottom-width: 0;
    }
  }

  .menu-title {
    margin: 0 0 10px;
  }

  .menu-icon-image {
    background: $whiteOpacity;
    padding: 10px;

    img {
      height: 100% !important;
    }
  }

  // Mobile
  @include breakpoint(small down) {
    padding-top: 40px;    
  }

  @include breakpoint(xxlarge up) {
    max-width: 900px !important;
  }
}
