@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
@import '../foundation/foundation.scss';
@import './fonts';
@import './animation';

$black: #000;

body {
  font-family: 'Oswald', sans-serif;
  padding: 0;
  margin: 0;
  background: #ccc;
  font-size: 12px;
  overflow-x: hidden;
  &:after {
    content:  url('../../assets/h_w_curtain_large.png') url('../../assets/background/h_t_gallery_01.jpg') url('../../assets/background/h_t_gallery_02.jpg')
    url('../../assets/background/h_t_gallery_03.jpg') url('../../assets/background/h_t_gallery_04.jpg') url('../../assets/background/h_t_gallery_06.jpg')
    url('../../assets/background/h_t_gallery_07.jpg')
    url('../../assets/icons/h_w_facebook_b_p.svg') url('../../assets/icons/h_w_instagram_b_p.svg')
    url('../../assets/icons/h_ta_b_02.svg') url('../../assets/icons/h_ta_b_01.svg');
    position: absolute;
    right: 1000000px;
    display: none;
  }
}
.pink {
  color: $pink !important;
}
.pink-bg {
  background-color: $pink;
  color: #fff;
}
.assistant-bold, .assistant-bold.text-contentbox-wrap {
  font-family: 'AssistantBold', sans-serif !important;
  font-weight: normal;
  font-size:20px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  direction: rtl !important;
  text-align: right;
}
.assistant-regular, .assistant-regular.text-contentbox-wrap {
  font-family: 'AssistantRegular', sans-serif !important;
  direction: rtl !important;
  font-size:18px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  direction: rtl;
  text-align: right;
}
.assistant-extra-bold, .assistant-extra-bold.text-contentbox-wrap {
  font-family: 'AssistantExtraBold', sans-serif !important;
  direction: rtl !important;
  font-size:28px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  text-align: right;
}
.assistant-semi-bold, .assistant-semi-bold.text-contentbox-wrap {
  font-family: 'AssistantSemiBold', sans-serif !important;
  direction: rtl !important;
  font-size:18px;
  color: $black;
  -webkit-font-smoothing: antialiased;
  text-align: right;
}

.full-width {
  width: 100% !important;
}
.page-wrap {
  height:100vh;
}

.run-font {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  color: $black;
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  @include breakpoint(small down) {
    font-size: 1.3em;
  }
}
.run-font-semi-bold {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  color: $black;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  @include breakpoint(small down) {
    font-size: 1.3em;
  }
}
.run-font-medium {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  color: $black;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  @include breakpoint(small down) {
    font-size: 1.3em;
  }
}
.run-font-large {
  font-family: 'MixedBreed', 'Oswald', sans-serif;
  color: $black;
  font-size: 2.1em;
  -webkit-font-smoothing: antialiased;
  @include breakpoint(small down) {
    font-size: 1.9em;
  }
}
.run-font-xlarge {
  font-family: 'MixedBreed', 'Oswald', sans-serif;
  color: $black;
  font-size: 2.3em;
  -webkit-font-smoothing: antialiased;
  @include breakpoint(small down) {
    font-size: 1.8em;
  }
}
.img-svg {
  width: auto !important;
  height: 100% !important;
}
a {
  color: #000 !important;
}
img {
  width: 100%;
}
.pos-relative {
  position: relative !important;
}
.reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.no-bottom-padding {
  padding-bottom: 0px !important;
}
.no-top-padding {
  padding-top: 0px !important;
}

.small-half-padding-columns {
  @include breakpoint(small down) {
    .columns {
      &:not(:first-child) {
        padding-left: 2px;
      }
      &:not(:last-child) {
        padding-right: 2px;
      }
    }
  }
}

.section-content {
  margin: 0 auto;

  @include breakpoint(small down) {
    width: 90%;
  }
  @include breakpoint(medium up) {
    width: 80%;
  }
  @include breakpoint(large up) {
    width: 80%;
    max-width: 850px;
  }
  .section-content-item {
    margin: 0 5px;
    &.right {
      @include breakpoint(medium up) {
        float: right;
      }
    }
    &.left {
      @include breakpoint(medium up) {
        float: left;
      }
    }
  }
}
.section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.section-margin {
  min-height: 100vh;
  margin-top: 100px;
}
#nav-spacer {
    height: 100vh;
}
.curtain-removed {
  #nav-spacer {
      height: 20vh;
  }
}
.height100 {
  height:100%;
}
.height100vh {
  height: 100vh;
}
.text-uppercase {
  text-transform: uppercase;
}
.space-bottom {
  margin-bottom: 10px;
}
.space-top-md  {
  margin-top: 20px;
}
.space-bottom-md {
  margin-bottom: 20px;
}
.space-right {
  margin-right: 10px;
}
.right {
  float: right !important;
}
.text-center {
  text-align: center !important;
}
.takeaway-gif {
  position: fixed !important;
  bottom: 30px;
  right: 50px;
  z-index: 9999;
  width: 100px;
}
.scroll-anim {
  will-change: transform;
  transition: transform .51s cubic-bezier(.19,1,.22,1);
}
.parallax-wrap {
    display: block;
    will-change: transform;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .62s cubic-bezier(.19,1,.22,1) .31s;
    -moz-transition: -moz-transform .62s cubic-bezier(.19,1,.22,1) .31s;
    -o-transition: -o-transform .62s cubic-bezier(.19,1,.22,1) .31s;
    -ms-transition: -ms-transform .62s cubic-bezier(.19,1,.22,1) .31s;
    transition: transform .62s cubic-bezier(.19,1,.22,1) .31s;
 }

.background-wrap {
  position: fixed;
  top:0;
  left:10px;
  right:10px;
  z-index:0;
  height:100vh;
}
 .background {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   position: relative;
   overflow-y: auto;
   -webkit-overflow-scrolling: touch;
   &.background-fade {
     transition: all 1s ease;
   }
 }
 .curtain {
   .background-wrap {
     left: 0 !important;
     right: 0 !important;
   }
 }

 .bg_1 {
   background-image: url('../../assets/background/h_t_gallery_01.jpg');
 }
 .bg_2 {
   background-image: url('../../assets/background/h_t_gallery_02.jpg');
 }
 .bg_3 {
   background-image: url('../../assets/background/h_t_gallery_03.jpg');
 }
 .bg_4 {
   background-image: url('../../assets/background/h_t_gallery_04.jpg');
 }
 .bg_5 {
   background-image: url('../../assets/background/h_t_gallery_05.jpg');
 }
 .bg_6 {
   background-image: url('../../assets/background/h_t_gallery_06.jpg');
 }
 .bg_7 {
  background-image: url('../../assets/background/h_t_gallery_07.jpg');
}

 .loc-btn:hover {
  .text-contentbox-wrap {
    background-color: $pink;
    color: #fff;
   }
 }

 .menu-section-title {
   font-weight: bold;
   line-height: 30px;
 }

.popup-visible {
  .background-wrap .background {
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);    
  }
  .msg-popup-wrapper {
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    overflow: hidden;
    z-index: 99999;
    cursor: pointer;
    opacity: 1;    
  }
}
.msg-popup-wrapper {
  opacity: 0;  
  transition: opacity 2s ease-in-out;
}
.msg-popup {  
  position: fixed;
  top: calc(50% - 220px);
  left: calc(50% - 224px);
  background: url('../../assets/Desktop_Popup.svg'); 
  background-size: 448px 440px;
  background-repeat: no-repeat;
  z-index: 99999;
  width: 100%;
  height: 100%;  

  @include breakpoint(small down) {  
    top: calc(50% - 290px);
    left: calc(50% - 170px);  
    background: url('../../assets/Mobile_Popup.svg'); 
    background-size: 340px 580px; 
    background-repeat: no-repeat;   
  }
}