@import '../../styles/foundation/foundation.scss';

.welcome-wrap {
  &.heb {
    .text-contentbox-wrap {
      font-family: 'AssistantBold', sans-serif;
      font-size: 24px;
    }
  }
  .curtain {
    z-index: 9999;
    width: 100%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../assets/h_w_curtain_large.svg');
    @include breakpoint(medium down) {
      background-image: url('../../assets/h_w_curtain_small.svg');
    }
  }
  .takeaway-gif {
    cursor: pointer;
    z-index: 9999;

    &:hover {
      .take-away-image, .take-away-title {
        opacity: .9;
      }
    }
  }
  .take-away-title {
    color: $pink;
    font-size: 18px !important;
    padding: 4px;
    line-height: 21px;
  }
  .take-away-lg-btn {
    cursor: pointer;
    .text-contentbox-wrap {
      background-color: $pink;
      color: #fff;
    }
    &:hover {
      opacity: .8;
    }
  }
  .telephone {
    position: fixed!important;
    top: 560px;
    left: 50px;
    width: 124px;
    z-index: 999;
  }
  .telephone-mobile {
    .telephone-image {
      width: 190px;
      margin: 0 auto;
      margin-top: 20px;
    }    
  }
  .telephone-image {
    background-image: url('../../assets/icons/h_telephone_b.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px;
    &:hover {
      background-image: url('../../assets/icons/h_telephone_b_w.svg');
    }
  }
  &.en {
    .aharoni-head-image {
      float: right;
    }
  }
}
.welcome-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.welcome-logos-wrap {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 150px;

  .aharoni-head-image {
    background-color: $pink;
    padding: 30px 50px;
    max-width: 300px;
    max-height: 380px;
    width: 100%;
  }

  .welcome-text-wrap {
    margin-top:88px;
  }
  .welcome-full-logo-wrap {
    margin-top:10px;
  }

  @include breakpoint(medium down) {
    width: 80%;
  }
  // Mobile
  @include breakpoint(small down) {
    padding-top:60px;
    width: 100%;
    .aharoni-head-image {
      float: none;
      max-width: none;
      max-height: none;
    }
    .welcome-text-wrap {
      margin: 0 auto;
      margin-top:10px;
      text-align: center;
      .text-contentbox-wrap {
        width: 100%;
      }
    }
  }
  @include breakpoint(medium up) {
    padding-top:150px;
  }

  @include breakpoint(xxlarge up) {
    max-width: 900px !important;
  }
}
