@import '../../styles/foundation/foundation.scss';


.visitus {
  border-bottom: 10px solid #fff;
  margin-top:30px;

  .google-map-wrap {
    height: 350px;
    width: 600px;
    padding-bottom:10px;

    @include breakpoint(medium down) {
      width: 100% !important;
    }
  }
  .white {
    color: #fff !important;
  }
}
.visitus-wrap {
  width: 70%;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 150px;

  .visitus-right-pane {
    padding-top: 75px;
  }

  @include breakpoint(xxlarge up) {
    max-width: 900px !important;
  }

  // tablet
  @include breakpoint(medium down) {
    width: 60%;
  }

  // Mobile
  @include breakpoint(small down) {
    width: 90%;
    padding-top: 40px;
    .text-contentbox-wrap {
      padding: 8px 10px;
    }
  }
}
.coming-soon-wrap {
  margin-top: 150px;
  margin-bottom: 200px;

  .coming-soon-img {
    padding: 45px 30px;
    background-color: #fff;
  }

  .visitus-comingsoon-right-pane {
    padding-top: 73px;
  }
}
.hiro-map-marker {
  width: 24px;
}
.site-footer {
  color: #fff;
  padding-bottom: 40px;
}
