@import '../../styles/foundation/foundation.scss';


.visitus {
  border-bottom: 10px solid #fff;
  margin-top:30px;

  .google-map-wrap {
    height: 350px;
    width: 600px;
    padding-bottom:10px;

    @include breakpoint(medium down) {
      width: 100% !important;
    }
  }
  .white {
    color: #fff !important;
  }
}
.visitus-wrap {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 150px;

  .visitus-right-pane {
    padding-top: 75px;
  }

  @include breakpoint(xxlarge up) {
    max-width: 900px !important;
  }

  @include breakpoint(medium down) {
    width: 60%;
    padding-top: 40px;
    .text-contentbox-wrap {
      padding: 8px 10px;
    }
    .visitus-right-pane {
      padding-top: 0 !important;
    }
    .visitus-comingsoon-right-pane {
      padding-top: 0 !important;
    }
  }
  @include breakpoint(small down) {
    width: 100%;
  }
}
.visitus-heb {
  @include breakpoint(large up) {
    .google-map-wrap {
      margin-left: -54px;
    }
    .visitus-wrap {
      width: 90%;
      max-width: 900px;
    }
  }
}
.visitus-hashmal {
  margin-top: 150px;
  margin-bottom: 200px;
}
.hiro-map-marker {
  width: 24px;
}
.site-footer {
  color: #fff;
  padding-bottom: 20px;
}
