@import '../../styles/foundation/foundation.scss';

.ramen-wrap {
  max-width: 900px;
  margin: 0 auto;

  @include breakpoint(medium up) {
      padding-top: 150px;
  }
  .noodles-image {
    margin: 0 auto;
    background-color: $blackOpacity;
    padding: 15px;
  }
  .nothing-like {
    float: right;
    width: initial !important;
  }
  .ramen-content-box {
    width:100%;
    margin-bottom: 10px;
  }
  .content-box-black {
    background-color: #000;
    color: #fff !important;
  }
  .ramen-content-box-margin {
    margin: 0 10px 10px 0;
  }
  .section-title-heb {
    font-size:34px !important;
  }
  .ramen-subtitle-heb {
    font-size:24px !important;
  }
  .ramen-subtitle {
    font-size:22px;
    @include breakpoint(medium down) {
      word-spacing: 2px;
      line-height: 1.2;
      font-size: 1.2em;
    }
  }

  @include breakpoint(xxlarge up) {
    max-width: 900px !important;
  }

  @include breakpoint(medium up) {
    .ramen-what-padding {
      padding-left: 24px;
    }
  }

  @include breakpoint(medium down) {
    width: 80%;
  }

  // Mobile
  @include breakpoint(small down) {
    width: 100%;
    .noodles-image {
      padding: 20px 80px;
      margin-bottom: 10px;
    }
    .text-contentbox-wrap {
      padding: 8px 10px;
    }
    .ramen-title .text-contentbox-wrap.full-width{
      width: initial !important;
      font-size: 1.7em;
      padding: 4px 10px;
    }
    .ramen-content-box {
      .space-bottom {
        margin-bottom: 5px;
      }
    }
    .ramen-content-box-description {
      margin: 5px 2px;
    }
  }
}
