@import '../../styles/foundation/foundation.scss';

.navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  font-size: 12px;
  padding: 0 !important;
  top: 0;
  height: 60px;

  .active {
    color: $pink !important;
    text-decoration: underline;
  }

  .header-logo {
    position: relative;
    width: 98px;
    padding: 0 !important;
    z-index: 99;
      .header-logo-img {
        position: absolute;
        top: 10px;
      }
      @include breakpoint(medium down) {
        width: 80px;
        .header-logo-img {
          left: 20px;
        }
      }
  }
  .menu {
    font-size: 18px !important;
  }
  .menu > li {
    padding: 10px 10px;
    &.menu-link {
      cursor: pointer;
      color: $black;
      text-transform: uppercase;

      a {
        border-bottom: none;
        transition: all 0.3s ease;
      }

      &:hover a{
        color: $pink !important;
      }
    }
  }
  .lang-selection {
    .lang-selection-item {
      display:table-cell;
      padding-right:4px;
      padding-left:4px;
      &:hover a{
        color: $pink !important;
      }
    }
    .vertical-seperator {
      display:table-cell;
      margin: 0 4px;
      width: 1px;
      border-left: 1px solid #000;
    }
  }
  .social-btns {
    li {
      padding: 10px;
      cursor: pointer;
      a {
        padding: 10px 0;
        margin-right: 0;
      }

      &:last-child {
        padding-right: 10px;
      }
    }

    .instagram-btn {
    }

    img {
      height: 18px;
    }
  }

  .toggle-mobile-nav-btn-wrap {
    padding-top: 10px;
    .toggle-mobile-nav-btn {
      float: right;
      margin: 12px 20px;
      outline: 0 !important;
    }
  }

  .mobile-nav-visible {
    &:after {
      background: $pink !important;
      box-shadow: 0 7px 0 $pink,0 14px 0 $pink !important;
    }
  }
  .mobile-nav-wrap {
    height: 100vh;
    background: rgba(0,0,0,0.9);
    margin-top: 40px;
    position: relative;
    .header-logo-img {
      height: 170px;
      padding-top:30px;
    }
    .mobile-nav-social {
      position: absolute;
      bottom: 70px;
      left: 50%;
      margin-left: -50px;
      .mobile-nav-social-inner {
        width: 100px;
        margin: 0 auto;
      }
      .mobile-nav-social-img {
        width: 30px;
        height: 30px;
        margin: 0 10px;
      }
    }
    .mobile-menu {
      margin-top: 40px;
      background: transparent !important;
      .menu-link {
        display: block !important;
        text-align: center;
        a {
          color: #fff !important;
          font-weight: bold;
          font-size: 1.4em;
          //padding-bottom: 1em;
          padding: 5px;
        }
        &:hover a{
          color: $pink !important;
        }
      }
    }
  }

}
